.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px 20px 348px;
    gap: 34px;
    position: absolute;
    width: calc(100% - 384px);
    height: 50px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;
    position: relative;
    width: 106px;
    height: 49px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#initials {
    border: 3px solid lightgray;
    border-radius: 50%;
    padding: .8rem;
    cursor: pointer;
    min-width: 25px;
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #2A3647;
    background-color: rgb(42, 170, 226) !important;
}

.sideMenu {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 66px 20px;
    gap: 103px;
    position: absolute;
    width: 232px;
    height: calc(100% - 132px);
    left: 0px;
    top: 0px;

    background: #2A3647;
    /* nuevo */

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 15px;
    width: 232px;
    height: 229px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.menu a {
    text-decoration: none;
}

.menu p {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 53px;
    gap: 20px;

    width: 232px;
    height: 46px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-links {
    display: flex;
    width: 200px;
    align-items: center;
    height: 50px;
    color: white;
    gap: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.menu-links:hover {
    cursor: pointer;
    background-color: #3d444d64;
}


.side-menu-img {
    height: 20px;
}

.bg-dark {
    background-color: #131820 !important;
    border-radius: 5px;
}

.legal-notice {
    position: absolute;
    bottom: 50px;
    text-decoration: none;
}

.d-none {
    display: none !important;
}

.logo-mobile {
    display: none;
}

#logout {
    position: absolute;
    top: 4.4rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem;
    color: white;
    width: 5rem;
    height: 2rem;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    cursor: pointer;
    z-index: 999;
}

#logout span {
    border-bottom: 2px solid transparent;
}

#logout span:hover {
    border-bottom: 2px solid rgb(42, 170, 226);
}

#mobileDropDown {
    position: absolute;
    padding:.3rem;
    right: 5%;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width: 6rem;
    height: 7rem;
    background-color: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px 0px 20px 20px;
    z-index: 999;
}

#mobileDropDown a:hover {
    border-bottom: 2px solid  rgb(42, 170, 226);;
}

#mobileDropDown a  {
    color: white;
    margin-bottom: .5em;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    margin: .25rem 0 .25rem 0;
    text-decoration: none;
}

@media(max-height:600px) {
    .legal-notice {
        bottom: 12px;
    }
}


@media(max-width:1000px) {
    .d-none-mobile {
        display: none;
    }


    .sideMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        gap: 0;
        width: 100%;
        height: 100px;
        top: calc(100vh - 100px);
        bottom: 0px;
        z-index: 10;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
        gap: 0;
        width: 100%;
        height: 100px;
    }

    .headerImg {
        width: 49px;
        margin-right: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-bar-text {
        white-space: nowrap;
        font-size: 12px;
    }

    .menu-links {
        width: 70px;
        flex-direction: column;
        height: 70px;
        display: flex;
        justify-content: center;
        padding: 0;
    }


    .logo-mobile {
        display: block;
        height: 50px;
        margin-left: 10%;

    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        gap: 0;
        position: fixed;
        width: 100vw;
        height: 100px;
        left: 0;
        top: 0;
        right: 0;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    }


}